{{ partial "header.html" . }}

<main>
	<h1>Contatto</h1>
	<div class="row" >
		<div class="col-md-4">
			<p><span class="glyphicon glyphicon-home"></span> Indirizzo</p>
			<p>c/o UNITAS<br/>Via S.Gottardo 49<br/>6598 Tenero</p>
		</div>
		<div class="col-md-4">
			<p><span class="glyphicon glyphicon-envelope"></span> Email</p>
			{{ $email := .Site.Data.contatti.emailSegretaria }}
			<a href="mailto:{{ $email }}">{{ $email }}</a>
		</div>
		<div class="col-md-4">
			<p><span class="glyphicon glyphicon-earphone"></span> Telefono</p>
			<p>{{ .Site.Data.contatti.natelSegretaria }}</p>
		</div>
	</div>
	
	<p>In caso di problemi legati al sito web si prega di contattare direttamente il <a href="mailto:{{ .Site.Data.contatti.webmasterEmail }}">webmaster</a>.</p>
	
	{{ .Content }}
</main>

{{ partial "footer.html" . }}