/* header */
header {
	background-color: lightgray;
}
.vertical-align {
	display: flex;
	align-items: center;
}
.banner-text {
	text-align: center;
	font-size: 24pt;
	font-weight: bold;
}
img.logo {
	margin: 5px;
}

/* Generale */
h2 {
	margin-top: 1.5em;
}

h3 {
	margin-top: 1em;
}

/* home page */
/* immagine di copertina della home page */
#home-img {
	float: right;
	width: 45%;
	margin: 25px;
}

/* icone con i simboli delle varie attività */
.ico-attivita {
	max-width: 150px;
	max-height: 150px;
}


/* footer */
footer {
	background-color: lightgray;
	text-align: center;
	margin-top: 32px;
	padding-top: 10px;
	padding-bottom: 60px;
	padding-left: 10px;
	padding-right: 10px;
}




/* attività */
.img-attivita {
	width: 200px;
	height: auto;
}

/* figure */
figure.fig {
	float: left;
	margin-right: 10px;
}

.fig img {
	max-width: 300px;
	max-height: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
}

figcaption p {
	font-style: italic;
	max-width: 200px;
}

/* Tabelle */
tr {
	border-bottom: 2px solid darkgrey;
}
