	<footer>
			<div class="row">
				<div class="col-xs-4">
					<p class="text-left">Copyright &copy; GTSC {{ (time now).Year }}</p>
				</div>
				<div class="col-xs-4">
					<p class="text-center">Sito a cura di Simone Mignami e Alberto Polli</p>
				</div>
				<div class="col-xs-4">
					{{ $t := time now }}
					<p class="text-right">Ultima modifica {{ printf "%d.%d.%d" $t.Day $t.Month $t.Year }}</p>
				</div>
			</div>
		</footer>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
