<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ .Title }}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/stile.css">
	</head>
	<body>
		<div class="container">
		<header>
			<div class="row vertical-align">
				<div class="col-xs-2">
					<img class="logo img-responsive" src="http://www.gtsc.ch/immagini/logo2.gif"/>
				</div>
				<div class="col-xs-8 banner-text">
					<p>Gruppo Ticinese Sportivi Ciechi</p>
				</div>
				<div class="col-xs-2">
					<img class="img-responsive" src="http://www.gtsc.ch/immagini/logo-piccolo-2-150-50.jpg"/>
				</div>
			</div>
		</header>
		
		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<li>
					<a href="{{ .Site.BaseURL }}">Home</a>
				</li>
				<li>
					<a href="{{ .Site.BaseURL }}chi_siamo">Chi siamo</a>
				</li>
				<li>
					<a href="{{ .Site.BaseURL }}disciplina">Discipline</a>
				</li>
				<li>
					<a href="{{ .Site.BaseURL }}comitato">Comitato</a>
				</li>
				<li>
					<a href="{{ .Site.BaseURL }}traguardi">Traguardi</a>
				</li>
				<li>
					<a href="{{ .Site.BaseURL }}contatto">Contatto</a>
				</li>
			</ul>
		</nav>
